.crystal {
    width: 24%;
}

#goalNumDiv {
    background-color: #78B891;
    width: 50%
    height: 100px;
    color: white;
    padding: 10px 50px 10px 50px;
}

#score-board-container {
    background-color: #56F694;
    width: 100%;
    display: flex;
    align-content: space-between;
}

#win-loss-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

.winsDiv {
    margin: 10px;
}

.lossesDiv {
    margin: 10px;
}

body {
    background-image: url("../images/pipes.png");
}

h1 {
    background-color: #0DB794;
    padding: 10px;
    color: white;
    margin-top: 10px;
}

.instructions {
    background-color: #A0F6C2;
    padding: 10px;
    margin-bottom: 10px;
}

#scoreIntro {
    background-color: #2A7748;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

#scoreDiv {
    background-color: #2A7748;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
}

img {
    margin-top: 10px;
}